@import url("woocommerce.css");

@font-face {
	font-family: 'Segoe';
	src: url('fonts/Segoe-Ui-Semibold.eot');
	src: url('.fonts/Segoe-Ui-Semibold.eot?#iefix') format('embedded-opentype'), url('fonts/Segoe-Ui-Semibold.ttf') format('truetype'), url('fonts/Segoe-Ui-Semibold.svg#Segoe') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe Regular';
	src: url('fonts/Segoe-Ui-Regular.eot');
	src: url('.fonts/Segoe-Ui-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/Segoe-Ui-Regular.woff') format('woff'), url('fonts/Segoe-Ui-Regular.ttf') format('truetype'), url('fonts/Segoe-Ui-Regular.svg#Segoe') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Swiss CondensedBold';
	src: url('fonts/swiss-condensedbold.eot');
	src: url('fonts/swiss-condensedbold.eot?#iefix') format('embedded-opentype'), url('fonts/swiss-condensedbold.woff') format('woff'), url('fonts/swiss-condensedbold.ttf') format('truetype'), url('fonts/swiss-condensedbold.svg#swiss-condensedbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	color: #000;
	font-family: 'Arial';
	background: #fff;
}

a:hover {
	text-decoration: none;
}

/*---header===*/
header {
}

.header-top {
	background: #f5f5f5;
	color: #999;
	border-bottom: 1px solid #fff;
	display: inline-block;
	clear: both;
	width: 100%;
	font-size: 13px;
}

.menu-top ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
}

.menu-top ul li {
	display: inline-block;
	padding: 5px 11px;
}

.menu-top ul li a {
	color: #666;
}

.menu-top ul li.current-menu-item,
.menu-top ul li:hover {
	background: #fff;
}

.logo {
	margin-top: 15px;
	margin-bottom: 20px;
}

.logo img {
	width: 200px;
	height: auto;
}

nav.nav {
	background: #282828;
	position: relative;
}

nav.nav .menu {
	margin: 0;
	padding: 0;
}

nav.nav .menu li {
	display: inline-block;
	position: relative;
	z-index: 100;
}

nav.nav .menu li:first-child {
	margin-left: 0;
}

nav.nav .menu li a {
	text-decoration: none;
	padding: 15px 22px 10px;
	display: block;
	color: #fff;
	transition: all 0.2s ease-in-out 0s;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'Segoe';
}

nav.nav .menu li.menu-item-has-children a:before {
	content: "\f103";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	margin-right: 5px;
}

nav.nav .sub-menu li a:before {
	content: "\f101" !important;
}

nav.nav .menu li a:hover,
.menu li:hover>a,
.menu li.current-menu-item a {
	color: #fff;
	background: #FF7701;
}

nav.nav .menu ul {
	visibility: hidden;
	opacity: 0;
	margin: 0;
	padding: 0;
	width: 200px;
	position: absolute;
	left: 0px;
	background: rgba(35, 130, 177, .8);
	z-index: 99;
	transform: translate(0, 20px);
	transition: all 0.2s ease-out;
}

nav.nav .menu ul li {
	display: block;
	float: none;
	background: none;
	margin: 0;
	padding: 0;
}

nav.nav .menu ul li a {
	font-size: 14px;
	font-weight: normal;
	display: block;
	color: #fff;
	background: #282828;
	text-transform: none;
}

nav.nav .menu ul li a:hover,
.menu ul li:hover a {
	background: #ff7701;
	color: #fff;
}

nav.nav .menu li:hover>ul {
	visibility: visible;
	opacity: 1;
	transform: translate(0, 0);
}

nav.nav .menu ul ul {
	left: 199px;
	top: 0px;
	visibility: hidden;
	opacity: 0;
	transform: translate(20px, 20px);
	transition: all 0.2s ease-out;
}

nav.nav .menu li>ul ul:hover {
	visibility: visible;
	opacity: 1;
	transform: translate(0, 0);
}

.menu-responsive {
	background: #34495E;
	left: -250px;  /* start off behind the scenes */
	height: 100%;
	position: fixed;
	width: 250px;
	z-index: 9999;
	display: none;
	overflow-y: scroll;
}

.menu-icon {
	background: #EA4335;
	left: 0;
	top: 0;
	z-index: 999;
	width: 100%;
	display: none;
}

.menu-close {
	cursor: pointer;
	padding: 10px;
	background: #FF7700;
	text-align: left;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: Segoe;
	overflow: hidden;
}

.menu-close i {
	color: #fff;
	font-size: 30px;
	float: left;
}

.menu-close i.fa-times {
	float: right;
}

.menu-close span {
	margin: 5px;
	float: left;
}

.menu-open {
	color: #fff;
	cursor: pointer;
	font-family: Segoe;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	overflow: hidden;
}

.menu-open i {
	margin-right: 20px;
	color: #fff;
	font-size: 35px;
	float: left;
}

.menu-open img {
	float: left;
	width: 150px;
	margin-top: 4px;
}

.location i {
	color: #fff;
	font-size: 35px;
}

.menu-responsive ul {
	list-style: none;
	padding: 0;
}

.menu-responsive ul li {
	padding: 10px;
	border-bottom: 1px solid #415B74;
}

.menu-responsive ul li a {
	color: #CAE0F5;
	font-size: 15px;
}

.menu-responsive ul li.current-menu-item a {
	color: #129643;
}

.menu-responsive ul.sub-menu li {
	border-bottom: none;
}

.menu-responsive ul.sub-menu li a:before {
	content: "\f101";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	margin: 0 5px 0 0;
}

@media (max-width:1200px) {
	.menu-icon,
	.menu-responsive {
		display: block;
	}

	nav.nav {
		display: none;
	}

}

nav.nav-sidebar {
	overflow: hidden;
}

nav.nav-sidebar ul li {
	text-transform: uppercase;
	display: block;
	float: left;
	width: 50%;
	width: -webkit-calc(100% / 2);
	width: calc(100% / 2);
	font-size: 15px;
	border: 1px solid #fff;
	color: #989898;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

nav.nav-sidebar ul li a {
	color: #989898;
}

nav.nav-sidebar ul li span {
	font-size: 14px;
	text-transform: none;
}

nav.nav-sidebar ul li a:hover {
	color: #FF7700;
}

nav.nav-sidebar ul li.wifi {
	background: url(images/icon-wifi.png) #EAEAEA no-repeat;
	background-size: 30px;
	padding: 20px 10px 20px 50px;
	background-position: 10px center;
}

nav.nav-sidebar ul li.vesinh {
	background: url(images/icon-vesinh.png) #EAEAEA no-repeat;
	background-size: 30px;
	padding: 20px 10px 20px 50px;
	background-position: 10px center;
}
nav.nav-sidebar ul li.lienhe {
	background: url(images/icon-lienhe.png) #EAEAEA no-repeat;
	background-size: 30px;
	padding: 20px 10px 20px 50px;
	background-position: 10px center;
}

nav.nav-sidebar ul li.promotion {
	background: url(images/icon-promotion.png) #EAEAEA no-repeat;
	background-size: 30px;
	padding: 20px 10px 20px 50px;
	background-position: 10px center;
}

nav.nav-sidebar ul li.game {
	background: url(images/icon-game.png) #EAEAEA no-repeat;
	background-size: 30px;
	padding: 20px 10px 20px 50px;
	background-position: 10px center;
}

nav.nav-sidebar ul li.usb {
	background: url(images/icon-usb.png) #EAEAEA no-repeat;
	background-size: 30px;
	padding: 20px 10px 20px 50px;
	background-position: 10px center;
}

nav.nav-sidebar ul li.ssd {
	background: url(images/icon-ssd.png) #EAEAEA no-repeat;
	background-size: 30px;
	padding: 20px 10px 20px 50px;
	background-position: 10px center;
}
nav.nav-sidebar ul li.accessories {
	background: url(images/icon-accessories.png) #EAEAEA no-repeat;
	background-size: 30px;
	padding: 20px 10px 20px 50px;
	background-position: 10px center;
}

nav.nav-sidebar ul li.mac {
	background: url(images/icon-mac.png) #EAEAEA no-repeat;
	background-size: 30px;
	padding: 20px 10px 20px 50px;
	background-position: 10px center;
}

nav.nav-sidebar ul li.macbook {
	background: url(images/icon-macbook.png) #EAEAEA no-repeat;
	background-size: 30px;
	padding: 20px 10px 20px 50px;
	background-position: 10px center;
}

nav.nav-sidebar ul li.smartphone {
	background: url(images/icon-smartphone.png) #EAEAEA no-repeat;
	background-size: 50px;
	padding: 20px 10px 20px 50px;
	background-position: 10px center;
}

nav.nav-sidebar ul li:hover {
	padding: 20px 50px 20px 10px;
	background-position: 120px center;
}

nav.nav-sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav.nav-sidebar ul li span {
	display: block;
}

.holine {
	background: #F70;
	color: #fff;
	padding: 10px;
	display: block;
	text-transform: uppercase;
	font-family: 'Segoe';
	text-align: center;
}

.holine a {
	color: #fff;
}

.slider .owl-controls .owl-buttons div {
	margin: 0;
}

.slider .owl-buttons i {
	color: #fff;
	font-size: 80px;
}

.slider .owl-controls .owl-buttons div {
	position: absolute;
}

.slider .owl-controls .owl-buttons .owl-prev {
	left: 0;
	top: 85px;
	margin: 0;
	background: #FF7700;
}

.slider .owl-controls .owl-buttons .owl-next {
	right: 0;
	top: 85px;
	margin: 0;
	background: #FF7700;
}

.list-post-home {
	text-align: center;
}

.list-post-home .post-img img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	display: block;
}

.list-post-home  a.post-title {
	font-size: 15px;
}

section.brand {
	background: #FF7701;
	padding: 5px;
	margin-top: 20px;
}

div.search,
.social {
	margin-top: 15px;
}

div.search .tags {
	color: #444;
	margin-top: 5px;
	font-size: 13px;
}

div.search .tags a {
	color: #888;
	margin: 0 0px 0 5px;
	font-size: 13px;
}

div.search .tags strong {
	float: left;
}

.tags ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.tags ul li {
	display: inline-block;
}

.navfixed {
	z-index: 1000;
	position: fixed !important;
	top: 0px;
	width: 100%;
}

/**
 * Search Form
 */
.search-form {
}

.search-form .form-group {
	margin: 0;
}

.search-form .buttom-search {
	padding: 7px 13px;
	border-radius: 0;
}

.search-form .form-control {
	border: 1px solid #FF7701;
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #555;
}

.search-form .form-control {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	padding: 17px 15px;
}

.search-form .btn-success {
	color: #fff;
	background-color: #FF7701;
	border-color: #FF7701;
}

h1.title-post,
.checkout h3,
.woocommerce-checkout h3,
.woocommerce-account h3,
.addresses h3,
#comments h2 {
	text-transform: uppercase;
	font-family: Segoe;
	font-size: 15px;
	color: #4C93B8;
}

h3.title,
h1.title-page {
	border-bottom: 2px solid #FF7701;
}

h3.title,
h1.title-page,
.cart_totals h2,
.woocommerce-checkout h2,
.woocommerce-billing-fields h3,
.woocommerce-account h2,
.panel h3 {
	text-transform: uppercase;
	font-family: Segoe;
	font-size: 15px;
}

h3.title span,
.panel h3 span,
h1.title-page span {
	color: #FFFFFF;
	display: inline-block;
	padding: 10px 50px 10px 10px;
	background: url(images/icon-title.png) no-repeat center right #F70;
}

.content-top {
	margin-bottom: 10px;
}

/*Product style*/
.list-content {
	width: 100%;
	display: inline-block;
}

.list-content .product-item {
	margin-bottom: 10px;
}

.product-item {
	position: relative;
	overflow: hidden;
	background: #F5F5F5;
	border: 1px solid #F5F5F5;
}

.product-item .stock {
	position: absolute;
	bottom: 0;
	text-align: center;
	background: #607d8b;
	color: #fff;
	width: 100%;
	padding: 5px;
}

.product-item .stock.out-of-stock {
	background: #E00C3D;
}

.product-item a.product-img {
	position: relative;
	display: block;
}

.product-item a.product-img .excerpt {
	position: absolute;
	top: 0;
	background: rgba(255, 255, 255, 0.8);
	width: 100%;
	height: 100%;
	padding: 5px;
	opacity: 0;
	border: 1px solid #FF7701;
	z-index: 99;
	font-size: 12px;
	overflow: hidden;
}

.product-item a.product-img .excerpt ul {
	padding: 0 0 0 15px;
	margin: 0;
	list-style-type: initial;
}

.product-item a.product-img.hover .excerpt {
	opacity: 1;
}

.product-item .label.left {
	position: absolute;
	border-radius: 0;
	font-size: 13px;
	margin: 0px;
	z-index: 99;
}

.product-item .label.right {
	position: absolute;
	border-radius: 0;
	font-size: 13px;
	margin: 0px;
	right: 0;
	z-index: 99;
}

.product-item a.post-title {
	color: #444;
	display: block;
	text-align: center;
	margin: 5px 0;
	line-height: 1.6;
	font-size: 15px;
	text-transform: none;
	font-family: Segoe;
}

.product-item .meta {
	padding: 10px;
	text-align: center;
}

.product-item .add_to_cart_button:before {
	content: "\f218";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
}

.product-item .loading:before {
	content: "\f021";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
	background: none !important;
	-webkit-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear;
}

.product-item .added:before {
	content: "\f00c";
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
}

.product-item .wc-forward {
	display: none;
}

/*Post style*/
.post-meta.text-left {
	margin: 10px 0;
	color: #f7941e;
}

.list-post h4 {
	font-size: 18px;
	line-height: 1.5;
	color: #006092;
	display: block;
	margin: 0 0 5px 0;
	font-family: 'Segoe Regular';
}

.list-post p {
	line-height: 1.8;
}

.list-post,
.post-list {
	margin-top: 10px;
}

.post-date {
	color: #a1a1a1;
	font-size: 14px;
	display: block;
	margin-top: 10px;
}

.list-post a.post-title {
	line-height: 1.6;
	color: #4471C2;
	text-transform: uppercase;
}

.list-content .clearfix {
	margin: 5px 0 0 0;
}

/*Footer style*/
.footer {
	background: #00293D;
	color: #fff;
	padding: 0;
	line-height: 1.8;
	font-family: Segoe Regular;
	font-size: 15px;
}

.footer h3 {
	font-size: 15px;
	text-transform: uppercase;
	border-bottom: 2px solid #003e5f;
	padding-bottom: 10px;
	color: #fff;
	font-family: Segoe;
}

.dev {
	background: #012233;
}

.dev p {
	margin: 5px 0;
}

.social {
	text-align: center;
}

.social span {
	width: 40px;
	color: #fff;
	font-size: 20px;
	height: 40px;
	display: inline-block;
	text-align: center;
	border-radius: 50%;
	line-height: 2.0;
	margin: 0 5px;
}

.social span.facebook {
	background: #3A589E;
}

.social span.google {
	background: #EA4335;
}

.social span.twitter {
	background: #5EA9DD;
}

.social span.youtube {
	background: #E12B28;
}

.back-to-top {
	position: fixed;
	bottom: 35px;
	right: 10px;
	display: none;
	cursor: pointer;
}

.back-to-top i {
	background: #E00C3D;
	padding: 5px 10px;
	color: #fff;
	font-size: 30px;
	font-weight: bold;
}

.notice {
	border-radius: 0;
	margin: 20px 0;
	overflow: hidden;
}

.like-click {
	display: block;
	padding: 10px 10px 5px;
	margin: 10px 0;
	clear: both;
	background-color: #f1f1f1;
	border: 1px solid #eaeaea;
}

.like-click .fb-btn {
	margin: 0 10px 0 0;
	float: left;
}

#fbcomments,
.fb-comments,
.fb-comments iframe[style],
.fb-comments span {
	width: 100%;
}

.contact-form .input-group {
	margin-bottom: 10px;
	float: left;
}

.contact-form .input-group br {
	display: none;
}
.contact-form .form-margin .input-group {
	margin-bottom: 10px;
}

.contact-form .input-group .input-group-addon {
	border-radius: 0px;
	background-color: #ddd;
	border: none;
	position: relative;
}

.contact-form .input-group .input-group-addon i {
	color: #2196F3;
	font-size: 26px;
	width: 24px;
	height: 24px;
}

.contact-form .input-group .form-control {
	background-color: rgb(241, 241, 241);
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border: none;
	padding: 15px 15px;
	color: #444;
	min-height: 50px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

::-webkit-input-placeholder {
	color: #444;
}

:-moz-placeholder {
	color: #444;
}

::-moz-placeholder {
	color: #444;
}

:-ms-input-placeholder {
	color: #444;
}

.btn {
	border-radius: 20px;
}

#gallery-thumbnail .item {
	margin: 5px;
	color: #FFF;
	text-align: center;
	cursor: pointer;
}

#gallery-thumbnail .synced .item {
	border: 4px solid #2A82B7;
}

.tab-content .tab-pane {
	padding-top: 10px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.tab-content h3 {
	text-transform: uppercase;
	font-size: 13px;
	color: #4C93B8;
	border: none;
}

.nav-tabs>li a {
	border-radius: 0;
	border: none;
	color: #FF7700;
	background-color: #F5F5F5;
	position: relative;
	font-size: 14px;
	font-weight: bold;
	font-family: Segoe;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover,
.nav-tabs>li>a:hover {
	background: #FF7700;
	border: none;
	color: #FFFBF7;
}

.nav-tabs {
	border-bottom: 1px solid #F5F5F5;
}

img {
	max-width: 100%;
	height: auto;
}

.view-cart {
	color: #fff !important;
	background-color: #117D39;
	display: block;
	font-size: 14px;
	font-weight: 400;
	line-height: 3.1;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding: 0 10px 0 0;
	overflow: hidden;
	text-decoration: none;
}

.view-cart i {
	font-size: 20px;
	padding: 11px;
	float: left;
	background-color: #E62534;
}

.cart-widget {
	position: absolute;
	top: 43px;
	right: 15px;
	background-color: #F5F4F4;
	z-index: 9999;
	display: none;
	padding: 0px;
	width: 263px;
}

.widget_shopping_cart_content .buttons a {
	padding: 10px 15px;
}

.widget_shopping_cart_content span.quantity {
	font-size: 13px;
	display: block;
}

.widget_shopping_cart_content {
	padding: 10px 10px 0;
}

.widget_shopping_cart_content ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.widget_shopping_cart_content ul li {
	margin: 0;
	padding: 0;
	display: block;
	overflow: hidden;
}

.widget_shopping_cart_content ul li img {
	margin: 0;
	padding: 0;
	float: right;
	width: 60px;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.col-xs-5ths {
	width: 20%;
	float: left;
}

@media (min-width:768px) {
	.col-sm-5ths {
		width: 20%;
		float: left;
	}

}

@media (min-width:992px) {
	.col-md-5ths {
		width: 20%;
		float: left;
	}

}

@media (min-width:1200px) {
	.col-lg-5ths {
		width: 20%;
		float: left;
	}

}

ins {
	text-decoration: inherit;
}

.panel {
	-moz-box-shadow: 0px 0px 0px transparent;
	-webkit-box-shadow: 0px 0px 0px transparent;
	box-shadow: 0px 0px 0px transparent;
}

.panel-group .panel + .panel {
	margin-top: 10px;
}

.panel-heading {
	padding: 0;
}

.panel-default > .panel-heading {
	background-image: none;
	background-color: transparent;
}

.panel-primary>.panel-heading,
.panel-primary {
	border: none;
	border-radius: none;
}

.panel-default > .panel-heading,
.panel-default,
.panel-group .panel-heading + .panel-collapse > .panel-body {
	border: 0 none;
	font-size: 14px;
}

.panel-title > a {
	display: block;
	text-decoration: none;
	padding: 10px 50px;
	position: relative;
	background-color: #00AEEF;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	color: #ffffff;
	line-height: 1.6;
	font-size: 13px;
	font-weight: bold;
}

.panel-title > a:before {
	content: "\f046";
	font-family: 'FontAwesome';
	display: inline-block;
	background-color: #f0f0f0;
	position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	height: 100%;
	padding: 10px 0;
	text-align: center;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0px;
	border-top-left-radius: 0;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0px;
	color: #4c4c4c
}

.panel-title > a:after {
	content: "\f068";
	font-family: 'FontAwesome';
	display: inline-block;
	background-color: transparent;
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 100%;
	padding: 10px 0;
	text-align: center;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0;
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-bottomright: 0;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0;
	border-top-left-radius: 0px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0;
	color: #fff;
}

.panel-title > a.collapsed:after {
	content: "\f067";
}

.panel-title > a.collapsed {
	background-color: #e1e4e6;
	color: #0e0f0f;
}

.panel,
.panel-group .panel,
.panel-primary>.panel-heading {
	border-radius: 0;
}

.panel a:focus {
	text-decoration: none;
}

.modal-title {
	font-family: Segoe;
	text-transform: uppercase;
	color: #fff;
	padding: 10px 0 5px 0;
	font-size: 13px;
	text-rendering: optimizelegibility;
	width: 100%;
	text-align: center;
	line-height: 1.2;
	font-weight: bold;
}

.panel,
.panel-group .panel,
.panel-primary>.panel-heading {
	border-radius: 0;
}

.panel a:focus {
	text-decoration: none;
}

.modal-content {
	background: #FFFFFF;
	border: none;
	border-radius: none;
	box-shadow: none;
}

.modal-header {
	border-bottom: 1px solid #4471c2;
	background: #4471c2;
	text-align: center;
	color: #fff;
}

.modal-footer {
	border-top: 1px solid #4471c2;
	background: #4471c2;
	color: #fff;
}

.modal-body {
	color: #2F2F2F;
	font-size: 13px;
}

.box {
	overflow: hidden;
}

.box i {
	font-size: 35px;
	float: left;
	margin-right: 10px;
	color: #4471C2;
}

.box span {
	margin-top: 5px;
	display: block;
	font: bold 12px Segoe;
	line-height: 1.2;
}

.hotline p {
	margin: 4px 0;
	color: #FDE405;
	font: bold 13px Segoe;
}

.hotline span {
	color: #fff;
}

.cart a {
	display: block;
	margin-top: 4px;
}


.product-meta {
	margin-bottom: 10px;
}

.advisory a {
	font: bold 13px Segoe;
	line-height: 1.6 !important;
	display: block;
	margin: 10px 0;
	text-transform: none !important;
	color: #444 !important;
}

.link-info-bank {
	color: #fff !important;
	text-decoration: none !important;
}

.support-icon-right {
	background: #F0F3EF;
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 9;
	overflow: hidden;
	width: 250px;
	color: #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.support-icon-right h3 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;
	font-family: Segoe;
	color: #fff;
	margin: 0;
	background-color: #3B559F;
	cursor: pointer;
}

.support-icon-right i {
	background-color: #25449C;
	padding: 15px 15px 12px 15px;
	color: #fff;
}

.online-support {
	display: none;
}

img {
	max-width: 100%;
	height: auto;
}

.owl-product .owl-buttons {
	position: absolute;
	top: -50px;
	right: 0;
}

.owl-product .owl-controls .owl-buttons .owl-prev {
	background: #FF7701;
}

.owl-product .owl-controls .owl-buttons .owl-next {
	background: #FF7701;
}

article.post-content {
	font-family: Arial;
	font-size: 14px;
}

.status {
	padding: 5px 10px;
	text-align: center;
	background: #F70;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	margin: 10px 0;
	text-transform: uppercase;
}

.holine-mobile {
	position: fixed;
	width: 100%;
	z-index: 9;
	bottom: 0;
}

.left-images {
	position: absolute;
	top: 0;
	right: 0;
}

.left-images ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.left-images ul li {
	border: 1px dashed #607D8B;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	text-align: center;
	display: table;
	margin: 10px 0;
}

.left-images ul li p {
	vertical-align: middle;
	display: table-cell;
}

ul.brand-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.brand-list li {
	float: left;
	width: 50%;
	width: -webkit-calc(100% / 2);
	width: calc(100% / 2);
	text-align: center;
}
.btn-block {
	display: block;
}


.breadcrumbs {
    font-size: 14px;
    padding: 10px 0 5px;
    border-bottom: 1px solid #dddfe2;
}

.breadcrumbs a {
    font-size: 14px;
    color: #3b559f;
}
.search-post {
    background: #f5f5f5;
    border: 1px solid #eee;
        min-height: 170px;
}
