.contact-form .input-group {
	margin-bottom: 10px;
	float: left;
}

.contact-form .input-group br {
	display: none;
}
.contact-form .form-margin .input-group {
	margin-bottom: 10px;
}

.contact-form .input-group .input-group-addon {
	border-radius: 0px;
	background-color: #ddd;
	border: none;
	position: relative;
}

.contact-form .input-group .input-group-addon i {
	color: #2196F3;
	font-size: 26px;
	width: 24px;
	height: 24px;
}

.contact-form .input-group .form-control {
	background-color: rgb(241, 241, 241);
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border: none;
	padding: 15px 15px;
	color: #444;
	min-height: 50px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

::-webkit-input-placeholder {
	color: #444;
}

:-moz-placeholder {
	color: #444;
}

::-moz-placeholder {
	color: #444;
}

:-ms-input-placeholder {
	color: #444;
}

.btn {
	border-radius: 20px;
}
.btn-block {
	display: block;
}
